// ------- Imports -------
@import './components/style.scss', './components/preloader.scss', './components/navbar.scss', './components/menu.scss', './components/clients.scss';

.title {
    margin: 2rem 0 1rem 2rem;
    color: $DimGray;

    h2 {
        position: relative;
        font-size: 1rem;
        padding-left: 1.5rem;
        font-weight: 500;

        &::before {
            content: '';
            position: absolute;
            width: 1.25rem;
            height: 1.5px;
            top: 50%;
            left: 0rem;
            border-radius: 1rem;
            background-color: $DarkCyan;
            transform: translateY(-50%);
        }
    }

    h3 {
        font-size: 2rem;
        font-weight: 700;
    }
}

// ------- Banner -------
.banner {
    --swiper-pagination-color: var(--swiper-theme-color);
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
}

// ------- Cards -------
.cards {
    display: flex;
    flex-direction: column;
    .cardSwiper {
        height: 548px;
        width: 100%;

        .swiper-slide {
            position: relative;
            border-radius: 1.25rem;
            

            img {
               
                height: 100%;
                object-fit: cover;
            }

            &:hover {

                .content {
                    bottom: 0;
                }
            }

            .content {
                $height: 50%;
                padding: 2rem;
                position: absolute;
                left: 0;
                bottom: -$height;
                height: $height;
                width: 100%;
                background-color: $Romance;
                transition: 0.3s ease;

                &::before {
                    $size: 3rem;
                    content: '';
                    position: absolute;
                    top: -$size;
                    left: 0;
                    width: $size;
                    aspect-ratio: 1;
                    border-radius: 40%;
                    background-color: transparent;
                    box-shadow: -1rem 1rem $Romance;
                }
            }
        }
    }
}

// ------- Our Clients -------
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.clients {

    .companies {
        padding: 60px 0;
        background-color: $Romance;
        position: relative;
        white-space: nowrap;
        overflow: hidden;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 250px;
            height: 100%;
            z-index: $UpperLayer;
        }

        &::before {
            left: 0;
            background: linear-gradient(to left, transparent, $Romance);
        }

        &::after {
            right: 0;
            background: linear-gradient(to right, transparent, $Romance);
        }

        .scroller {
            display: inline-block;
            animation: scroll 35s infinite linear;

            img {
                height: 70px;
                margin: 0 40px;
            }
        }
    }
}

// ------- Breakpoint -------
@media screen and (max-width: 1124px) {
    nav {
        .logo {
            width: 40%;
        }

        .nav-items {
            width: 60%;

            ul {
                justify-content: end;

                .nav-links {
                    display: none;
                }

                .nav-icons {

                    i[menuToggle] {
                        display: block;
                    }
                }
            }
        }
    }

    .menu.open {
        display: block;
    }
}