// ------- Imports -------
@import './components/style.scss', './components/preloader.scss', './components/navbar.scss', './components/menu.scss', './components/clients.scss', './components/footer.scss';

.bold {
    font-weight: 700;
}

.title {
    margin: 2rem 0 1rem 0;
    color: $DimGray;

    h2 {
        position: relative;
        font-size: 15px;
        padding-left: 1.5rem;
        font-weight: 500;

        &::before {
            content: '';
            position: absolute;
            width: 1.25rem;
            height: 1.5px;
            top: 50%;
            left: 0rem;
            border-radius: 1rem;
            background-color: $Goldenrod;
            transform: translateY(-50%);
        }
    }

    h3 {
        font-size: 30px;
        font-weight: 700;
    }
}

// ------- Banner -------
.banner {
    --swiper-pagination-color: #dbb13b;
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
}

// ------- About -------
.about {
    padding: 4rem 12rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #2d325a;

    h2,
    h3 {
        color: $DarkCyan;
    }

    p {
        line-height: 1.5rem;
        text-align: justify;
        color: $DarkCyan;
    }
}

// ------- Cards -------
.cards {
    padding: 2rem 12rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(30,189,184);
    gap: 1rem;

    & > div {
        padding: 1rem;
        width: 350px;
        height: 450px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 3px solid $White;
        border-radius: 0.5rem;

        &:hover {
            cursor: pointer;
        }

        h4 {
            text-align: center;
            color: $DimGray;
            font-size: 30px;
            font-weight: 500;
            text-transform: uppercase;
        }

        p {
            text-align: center;
        }

        img {
            width: 100%;
            height: 150px;
            object-fit: contain;
        }
    }
}
// ------- Our Clients -------
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.clients {
    padding: 0 12rem;

    .companies {
        padding: 60px 0;
        background-color: $White;
        position: relative;
        white-space: nowrap;
        overflow: hidden;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 250px;
            height: 100%;
            z-index: $UpperLayer;
        }

        &::before {
            left: 0;
            background: linear-gradient(to left, transparent, $White);
        }

        &::after {
            right: 0;
            background: linear-gradient(to right, transparent, $White);
        }

        .scroller {
            display: inline-block;
            animation: scroll 35s infinite linear;

            img {
                height: 50px;
                margin: 0 40px;
            }
        }
    }
}

// ------- Contact Us -------
.contact {
    width: 100%;
    height: 500px;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

// ------- Breakpoint -------
@media screen and (max-width: 1124px) {
    nav {
        .logo {
            width: 40%;
        }

        .nav-items {
            width: 60%;

            ul {
                justify-content: end;

                .nav-links {
                    display: none;
                }

                .nav-icons {

                    i[menuToggle] {
                        display: block;
                    }
                }
            }
        }
    }

    .menu.open {
        display: block;
    }
}