@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style: none;
}

input,
button {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

input,
p {
  color: #505050;
  font-size: 15px;
}

a {
  text-decoration: none;
}

.typography {
  font-weight: 700;
}

main {
  padding: 1.5rem;
  height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
main h1 {
  margin-top: 2rem;
}
main .close-login {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.25rem;
  font-size: 1.25rem;
  color: #aaa;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
main .close-login:hover {
  color: #000;
}
main .login-image {
  height: 100%;
  width: 45%;
  border-radius: 1.5rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .login-image img {
  width: 100%;
  height: 100%;
}
main .login-form {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main .login-form form {
  margin-bottom: 4rem;
  width: 375px;
}
main .login-form form .username-input,
main .login-form form .password-input {
  position: relative;
}
main .login-form form .username-input input,
main .login-form form .password-input input {
  height: 3.125rem;
  border-radius: 0.75rem;
  border: none;
  outline: none;
  border: 2px solid #aaa;
  background-color: #fff;
  padding: 1rem;
  margin: 0.5rem 0;
  font-size: 14px;
}
main .login-form form .username-input input.active, main .login-form form .username-input input:focus,
main .login-form form .password-input input.active,
main .login-form form .password-input input:focus {
  border-color: #1a9e9a;
}
main .login-form form .username-input input.active ~ label, main .login-form form .username-input input:focus ~ label,
main .login-form form .password-input input.active ~ label,
main .login-form form .password-input input:focus ~ label {
  color: #1a9e9a;
}
main .login-form form .username-input label,
main .login-form form .password-input label {
  position: absolute;
  top: 0.1rem;
  left: 0.75rem;
  font-size: 12px;
  font-weight: 500;
  pointer-events: none;
  transition: all 0.2s ease;
  color: #aaa;
  background-color: #fff;
  padding: 0 0.25rem;
}
main .login-form form .username-input .icons,
main .login-form form .password-input .icons {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 1.5rem;
  aspect-ratio: 1;
  font-size: 1rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
}
main .login-form form .username-input .icons:not(#show-hide),
main .login-form form .password-input .icons:not(#show-hide) {
  pointer-events: none;
}
main .login-form form .username-input .icons#show-hide,
main .login-form form .password-input .icons#show-hide {
  right: 3rem;
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
  transition: all 0.3s ease;
}
main .login-form form .username-input .icons#show-hide:hover,
main .login-form form .password-input .icons#show-hide:hover {
  color: #1a9e9a;
}
main .login-form form .forget {
  display: flex;
  justify-content: end;
}
main .login-form form .forget span {
  font-size: 12px;
  text-decoration: underline;
  margin: 0.25rem 0;
  color: #505050;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}
main .login-form form .forget span:hover {
  text-decoration: none;
  color: #1a9e9a;
}
main .login-form form #submit {
  height: 3rem;
  border-radius: 1rem;
  border: 2px solid #1a9e9a;
  margin-top: 3rem;
  font-weight: 500;
  background-color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #1a9e9a;
}
main .login-form form #submit:focus, main .login-form form #submit:hover {
  background-color: #1a9e9a;
  color: #fff;
}
main .account {
  width: 100%;
  padding-top: 1rem;
  border-top: 2px solid #1a9e9a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 14px;
  font-weight: 500;
  color: #505050;
  position: relative;
}
main .account img {
  position: absolute;
  top: -242px;
  right: 1rem;
  width: 300px;
  height: auto;
  z-index: -1;
}
main .account span {
  color: #1a9e9a;
  text-decoration: underline;
  cursor: pointer;
}
main .account span:hover {
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}
.modal .close-modal {
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-size: 2rem;
  color: #f0f1f3;
  cursor: pointer;
  transition: all 0.3s ease;
}
.modal .close-modal:hover {
  color: #1a9e9a;
}
.modal.open {
  display: flex;
}
.modal .help-center {
  background-color: #f0f1f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  width: 500px;
  z-index: 10;
}
.modal .help-center h2 {
  position: relative;
  line-height: 3rem;
  font-size: 20px;
  margin-left: 1.5rem;
  color: #505050;
}
.modal .help-center h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.5rem;
  transform: translate(0, -50%);
  width: 1rem;
  height: 2px;
  background-color: #1a9e9a;
}
.modal .help-center .support-text {
  line-height: 1.75rem;
}
.modal .help-center .support-text a {
  color: #1a9e9a;
  font-weight: 500;
}
.modal .help-center .support-text a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 924px) {
  main .login-image {
    display: none;
  }
  main .login-form {
    width: 100%;
  }
}/*# sourceMappingURL=login.css.map */