@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style: none;
}

input,
button {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

input,
p {
  color: #505050;
  font-size: 15px;
}

a {
  text-decoration: none;
}

.typography {
  font-weight: 700;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, 0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translate(0, -200%);
    animation-timing-function: ease-in;
  }
  75% {
    transform: translate(0, 0);
    animation-timing-function: ease-in;
  }
}
@keyframes morph {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1);
  }
  20%, 25% {
    transform: scaleX(1.3) scaleY(0.6);
  }
  30% {
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: scaleY(1);
  }
  70%, 85%, 100% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleX(1.2) scaleY(0.8);
  }
}
@keyframes load {
  0% {
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: #d2f2f1;
}
.preloader .cubes {
  width: 125px;
  height: 75px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.preloader .cubes .cube {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  animation: jump 1.75s ease-in-out infinite;
}
.preloader .cubes .cube .cube_inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 25%;
  background-color: #2d325a;
  transform-origin: center bottom;
  transition: background-color 0.3s ease;
  animation: morph 1.75s ease-in-out infinite;
}
.preloader .cubes .cube:nth-child(2) {
  animation-delay: -0.63s;
}
.preloader .cubes .cube:nth-child(2) .cube_inner {
  animation-delay: -0.63s;
}
.preloader .cubes .cube:nth-child(3) {
  animation-delay: -0.35s;
}
.preloader .cubes .cube:nth-child(3) .cube_inner {
  animation-delay: -0.35s;
}
.preloader.loaded {
  animation: load 500ms ease forwards;
}

nav {
  padding: 0 2rem;
  height: 4rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .title {
  display: flex;
  align-items: center;
}
nav .title .logo {
  width: 52px;
  aspect-ratio: 1;
  border-radius: 50%;
  -o-object-position: center;
     object-position: center;
}
nav .title .nav-links {
  margin: 0 3rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
nav .title .nav-links a {
  padding: 10px 1.5rem;
  font-size: 14px;
  font-weight: 500;
  color: #1a9e9a;
  border: 1px solid #1a9e9a;
  border-radius: 1.5rem;
  width: auto;
  text-align: center;
  text-decoration: none;
}
nav .title .nav-links a:hover {
  background-color: #d2f2f1;
}
nav .title .nav-links a.active {
  background-color: #1a9e9a;
  color: #fff;
}
nav .nav-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .nav-items .search {
  position: relative;
  height: 2.5rem;
}
nav .nav-items .search .search-input {
  height: 100%;
  background-color: #f0f1f3;
  padding: 1rem 2.5rem 1rem 1rem;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  width: 250px;
  color: #505050;
  font-size: 14px;
}
nav .nav-items .search .fa-magnifying-glass {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #505050;
}
nav .nav-items .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f1f3;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
}
nav .nav-items .icon i {
  color: #505050;
}
nav .nav-items .icon a {
  color: inherit;
}

main {
  background-color: #f0f1f3;
  padding: 1rem 2rem;
  display: flex;
  gap: 1.5rem;
}
main > section {
  background-color: #fff;
}
main .documents {
  overflow-y: scroll;
  width: 70%;
  height: calc(100vh - 6rem);
  padding: 1.5rem 2.5rem;
  border-radius: 1.5rem 0.5rem 0.5rem 1.5rem;
}
main .documents h2 {
  margin-bottom: 1.5rem;
}
main .documents table {
  border-collapse: collapse;
  width: 100%;
}
main .documents table th {
  font-weight: 500;
  text-align: start;
}
main .documents table thead {
  border-bottom: 1px solid #2d325a;
  background-color: #2d325a;
  color: #fff;
}
main .documents table tbody tr {
  transition: all 0.3s ease;
  width: 100%;
}
main .documents table tbody tr:not(:last-child) {
  border-bottom: 1px solid #1a9e9a;
}
main .documents table tbody tr:nth-child(odd) {
  background-color: #d2f2f1;
}
main .documents table th,
main .documents table td {
  padding: 1rem;
  width: 25%;
}
main .documents table th:last-child,
main .documents table td:last-child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .documents table .icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .documents table .icons .download-pdf {
  color: #000;
}
main .documents table .icons .fa-file-pdf {
  font-size: 20px;
  cursor: pointer;
}
main .documents table .icons .fa-file-pdf:hover {
  color: #1a9e9a;
}
main .categories {
  padding: 1.5rem;
  width: 30%;
  height: 100%;
  background-color: #d2f2f1;
  border-radius: 1.5rem;
  border: 3px solid #1a9e9a;
}
main .categories .category-title {
  color: #505050;
}
main .categories .tags {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main .categories .tags span {
  padding: 0.5rem 1.25rem;
  margin: 0.125rem;
  font-size: 14px;
  font-weight: 500;
  color: #505050;
  text-align: center;
  border: 1px solid #505050;
  border-radius: 0.5rem;
  flex-grow: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}
main .categories .tags span:hover {
  background-color: #8ededb;
}
main .categories .tags span.active {
  background-color: #1a9e9a;
  color: #fff;
}/*# sourceMappingURL=reports.css.map */