// ------- Imports -------
@import "./components/style.scss", "./components//preloader.scss", "./components/navbarPanel.scss";

// ------- Main -------
main {
    background-color: $Romance;
    padding: 1rem 2rem;
    display: flex;
    gap: 1.5rem;

    & > section {
        background-color: $White;
    }

    // ------- Table -------
    .documents {
        overflow-y: scroll;
        width: 70%;
        height: calc(100vh - 6rem);
        padding: 1.5rem 2.5rem;
        border-radius: 1.5rem 0.5rem 0.5rem 1.5rem;

        h2 {
            margin-bottom: 1.5rem;
        }

        table {
            border-collapse: collapse;
            width: 100%;

            th {
                font-weight: 500;
                text-align: start;
            }

            thead {
                border-bottom: 1px solid $DarkSlateBlue;
                background-color: $DarkSlateBlue;
                color: $White;
            }

            tbody {

                tr {
                    transition: $Transition;
                    width: 100%;

                    &:not(:last-child) {
                        border-bottom: 1px solid $DarkCyan;
                    }
                    
                    &:nth-child(odd) {
                        background-color: $LightCyan;
                    }
                }
            }

            th,
            td {
                padding: 1rem;
                width: 25%;

                &:last-child {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .icons {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .download-pdf {
                    color: $Black;
                }

                .fa-file-pdf {
                    font-size: 20px;
                    cursor: pointer;

                    &:hover {
                        color: $DarkCyan;
                    }
                }
            }
        }
    }

    // ------- Categories -------
    .categories {
        padding: 1.5rem;
        width: 30%;
        height: 100%;
        background-color: $LightCyan;
        border-radius: 1.5rem;
        border: 3px solid $DarkCyan;

        .category-title {
            color: $DimGray;
        }

        .tags {
            margin: 1rem 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        
            span {
                padding: 0.5rem 1.25rem;
                margin: 0.125rem;
                font-size: 14px;
                font-weight: 500;
                color: $DimGray;
                text-align: center;
                border: 1px solid $DimGray;
                border-radius: 0.5rem;
                flex-grow: 1;
                transition: all 0.3s ease;
                cursor: pointer;    
        
                &:hover {
                    background-color: $PaleTurquoise
                }
                
                &.active {
                    background-color: $DarkCyan;
                    color: $White;
                }
            }
        }
    }
}